{% extends 'base.html.twig' %}

{% block body %}

<h1>Please Confirm Your Email</h1>

<p>An email has been sent to {{ app.user.email }} <br>Please open your mail box and click on the link  to confirm your email </p>
{% endblock %}