{% if entity.instance.user %}


<a href="#">
    {{ entity.instance.user.firstName}}

{{ entity.instance.user.lastName}} 

 {{ entity.instance.user.email}}
</a>
{% else %}
   <span>none</span> 
{% endif %}

