@import "base";
@import "variables";
@import "classes";

.my-container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  font-size: 2rem;
}
main {
  min-height: 58vh;
  grid-area: main;
}

footer {
  grid-area: footer;

  h1,
  h2,
  h3,
  h4,
  a {
    font-family: var(--great-vibes);
    font-weight: 700;
    font-size: 3rem;
  }

  ul {
    display: flex;
    flex-flow: row;
    i {
      cursor: pointer;
      &.fa-facebook {
        color: var(--blue-logo);
      }
      &.fa-whatsapp {
        color: #2f6b12;
      }
      &.fa-instagram {
        color: var(--pinky);
      }

      &:hover {
        color: var(--intense-gold);
      }
    }
  }
  a.btn.btn-lg {
    background-color: var(--dark-gold);
    color: var(--white);
    font-size: 5rem;
    &:hover {
      background-color: var(--pinky);
    }
  }
}
