:root {
  font-size: 62.5%;

  body {
    background: var(--goldy) url("../../public/base/9227.jpg") center fixed;
    background-size: cover;

    .my-container {
      font-size: 1.8rem;
      color: var(--dark-gold);
      font-family: var(--ubuntu);

      .logo{
        min-width: 100px;
      }

      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 3rem;
      }
      h3 {
        font-size: 2rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        color: var(--dark-gold);
        text-align: center;
      }
      li {
        list-style: none;
      }
      nav {
        box-shadow: var(--box-shadow);
        div.nav {
          background-color: var(--calque);
        }
      }

      .card.gallery:hover {
        width: 105%;
        z-index: 1;
      }

      img {
        max-width: 100%;
      }

      a {
        color: var(--dark-gold);
        text-decoration: none;
        &:hover {
          color: var(--intense-gold);
          text-decoration: none;
        }
      }
      
      a.btn,
      button.my-btn {
        background-color: var(--dark-gold);
        color: white;
        text-decoration: none;
        &:hover {
          background-color: var(--intense-gold);
          text-decoration: none;
        }
        &-blue-logo {
          background-color: var(--blue-logo);
          color:white;
        }
      }

      strong {
        font-weight: 700;

        &.blue-logo{
          color: var(--blue-logo);
        }
        &.pinky{
          color: var(--pinky);
        }
        &.gold{
          color: var(--dark-gold);
        }        
        &:hover{
          font-size:2.3rem; 
        }
      }
    }
  }
}
