:root {
  font-size: 62.5%;

  body {
    background: var(--goldy) url("../../public/base/9227.jpg") center fixed;
    background-size: cover;
    .container-fluid {
      font-size: 2rem;
      color: var(--dark-gold);
      font-family: var(--ubuntu);

      img.logo{
        font-family: var(--ubuntu);
      }
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 3rem;
      }
      h3 {
        font-size: 2rem;
      }

      h1,h2,h3,h4,h5{
        color: var(--dark-gold);
        text-align: center;
      }
      li {
        list-style: none;
      }
      nav {
        box-shadow: var(--box-shadow);
        div.nav {
          background-color: var(--calque);
        }
      }

      img {
        max-width: 100%;
      }

      a{
        color: var(--dark-gold);
        text-decoration: none;
        &:hover {
          color: var(--intense-gold);
          text-decoration: none;
        }
      }

      a.btn {
        background-color: var(--dark-gold);
        color: white;
        text-decoration: none;
        &:hover {
          background-color: var(--intense-gold);
          text-decoration: none;
        }
      }

      strong {
        color: var(--dark-gold);
      }

      footer {

        h1,
        h2,
        h3,
        h4,
        a {
          font-family: var(--great-vibes);
          font-weight: 700;
          font-size: 3rem;
        }

        ul {
          display: flex;
          flex-flow: row;
          i {
            cursor: pointer;
            &.fa-facebook{
              color: var(--blue-logo)
            }
            &.fa-whatsapp{
              color: #2F6B12;
            }
            &.fa-instagram{
              color: var(--pinky);
            }
            
            &:hover{
              color:var(--intense-gold);
            }
          }
        }
        button {
          background-color: var(--dark-gold);
          color: white;
          font-size: 5rem;
          &:hover {
            background-color: var(--pinky);
          }
        }
      }
    }
  }
}
