:root {
  --pinky: rgb(242, 108, 197);
  --dark-gold: #80674b;
  --goldy: #C8B190;
  --intense-gold: #B8996D;
  --blue-logo: #2094e2;
  --success: rgb(82,186,86);
  --text:  rgb(32, 17, 2);
  --calque: rgba(183,152,108, 0.4);
  --great-vibes: "Great Vibes", cursive;
  --ubuntu: "Ubuntu", sans-serif;
  --ubuntu-condensed: "Ubuntu Condensed", sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
