{% if value is not null %}
   <div class="form-control">
   {% for image in value %}
       <a href="#" class="easyadmin-thumbnail" 
       data-featherlight="easyadmin-lightbox-{{ item.id }}" 
       data-featherlight-close-on-click="anywhere">
       <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb') }} " class="easyadmin-lightbox" alt="">
       </a>

       <div id="easyadmin-lightbox-{{ item.id }}" class="easy-admin-lightbox">
            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb') }}" alt="">
       </div>
   {% endfor %}
   </div>
{% endif %}